@font-face {
    font-family: Reckless;
    src: url(/fonts/RecklessCondensedS-TRIAL-Book.woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    min-height: 100%;
    background-color: #FBF9EB;
    padding: 1vw;
}
nav{
    width: 100%;
    background-color: #FFFEFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Reckless;
    padding: 0.3vw 1vw;
    border-radius: 1vw;
}
.nav_left_part{
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    width: 33%;
}
.nav_right_part{
    display: flex;
    gap: 2vw;
    width: 33%;
    align-items: center;
    justify-content: end;

}
.nav_center_part{
    width: 5vw;
    height: auto;
}
.nav_center_part img{
    width: 100%;
    object-fit: cover;
}